# Database Configuration
DB_USERNAME=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD
DB_URL=jdbc:postgresql://localhost:5432/YOUR_DB_NAME

# JWT Configuration
JWT_SECRET_KEY=YOUR_JWT_SECRET_KEY

# Admin Credentials
ADMIN_EMAIL=YOUR_ADMIN_EMAIL
ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD
ADMIN_PHONE_NUMBER=YOUR_ADMIN_PHONE_NUMBER

# AWS Configuration
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_REGION=YOUR_AWS_REGION
AWS_BUCKET_NAME=YOUR_AWS_BUCKET_NAME