@import "tailwindcss";

html,
body {
  overflow-x: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}


@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up {
  animation: slideUp 0.8s ease-out forwards;
}


@keyframes slideInFade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideInFade {
  animation: slideInFade 0.4s ease-out forwards;
}

@keyframes slideInLeftFast {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeftMedium {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeftSlow {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-fast {
  animation: slideInLeftFast 0.4s ease-out forwards;
}

.slide-in-medium {
  animation: slideInLeftMedium 0.8s ease-out forwards;
}

.slide-in-slow {
  animation: slideInLeftSlow 1.2s ease-out forwards;
}

@keyframes slideInRightSlow {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-right-slow {
  animation: slideInRightSlow 1.2s ease-out forwards;
}

@keyframes slideInRightMedium {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-right-medium {
  animation: slideInRightSlow 0.8s ease-out forwards;
}


.nav-link {
  position: relative;
  text-decoration: none;
  color: #1f2937; 
  font-weight: 500;
  transition: color 0.3s ease;
  height: 84px; 
  display: flex;
  align-items: center;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #920B15; 
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #920B15; 
}

.nav-link:hover::after {
  width: 100%;
}

.custom-red-color-text {
  color: #920B15; 
}

.custom-red-color-font {
  color: #920B15;
}

.custom-red-color-font:hover {
  color: #b71c1c; 
}

.custom-red-color-border{
  border-color: #920B15;
}

.custom-red-color-background {
  background-color: #920B15;
}

.custom-red-color-bg {
  background-color: #920B15;
}


.custom-red-color-background:hover {
  background-color: #b71c1c; 
}